<app-navbar />
<!-- <app-product-card>
    <img productImage src="" alt="Product">
    <h3 productName>Product Name</h3>
    <p productDescription>Une description courte du produit...</p>
    <p productDescription>Une autre description du produit...</p>
    <button productActions>Buy Now</button>
</app-product-card> -->

<!-- <app-product-card>
    <h3 #name>Product Name</h3>
    <div #productDescription>Une description courte du produit...</div>
    <div #productDescription>Une autre description du produit...</div>
</app-product-card> -->

<app-product />
   