.green {
    color: green;
    border: 1px solid green;
    background: rgb(145, 255, 145);
}

.red {
    color: red;
    border: 1px solid red;
    background: rgb(255, 145, 145);
}

.p-5 {
    padding: 6px 4px;
}