<!-- <div [ngClass]="{
    'green': isActive,
    'red': !isActive,
    'p-5': true
}">Mon texte dynamique</div>
<div [ngStyle]="{
    'color': isActive ? 'green' : 'red',
    'border': isActive ? '1px solid green' : '1px solid red',
    'padding': '6px 4px'
    }">Mon texte dynamique</div>
<button (click)="toggleActive()">Basculer État Actif</button>
<p>
    {{ "produit incroyable" | uppercase }}
</p>
<div class="container mt-3">
    <h2>Affichage de la date actuelle</h2>
    <p>Date en format court : {{ today | date:'shortDate' }}</p>
    <p>Date en format moyen : {{ today | date:'mediumDate' }}</p>
    <p>Date en format long : {{ today | date:'longDate' }}</p>
    <p>Date en format complet : {{ today | date:'fullDate' }}</p>
</div> -->
